@import "variables";
/* @import "../node_modules/bootstrap/scss/bootstrap.scss"; */
@import "base";
@import "mixin";







.accueil {
background-color: black;
justify-content: center;
justify-items: center;
  text-align: center;
  background: no-repeat, url(../logos/nuit.jpg);
  width: 100%;
  height: 100%;
& img {

@include  smartphone-ajustement_login;
  margin-top: 3%;
border-radius: 20%;

width: 20%;
height: 35%;
}

& .presentationtitre {
  
color: white;
font-weight: 600;
font-size: 2rem;
margin-top: 3%;
}

& .presentation {

  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 2%;
  text-align: center;
 margin: 1%;
  color: rgb(19, 18, 18);
 


  & .transparent{
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 1;
    color: #0a0a0a;
    font-size: 1.5rem;
    margin: 2%;
    border-radius: 20%;
    /* box-shadow: 1px 1px 2px rgb(163, 158, 158); */
    & a {

font-weight: 500;
      color: #2069dd;
    }
  }
  & .arriereplanpres {
    display: flex;
    flex-direction: column;
   /*  background: no-repeat, url(../logos/partition.jpg); */
  background-color: #f7fdfd;
  padding: 1%;
    color: #0a0a0a;
    font-weight: 500;
    border-radius: 20%;
    /* box-shadow: 2px 2px 4px rgb(223, 217, 217); */
    line-height : 1.3;
    
    box-shadow: 2px 2px 4px rgb(223, 217, 217);
  }
 
  }



}

//Barre de navigation 
.ajust {
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 0%;
  padding: 0%;
  background-color: black;

/* .backgroundacceuil img {
  height: 500px;
 width: 1000px;
 
 
 } */





& .barredenavigation {
 margin-left: 10%;
 margin-right: 10%;
 width: 100%;
font-size: 1.4rem;


/* border: 3px solid red; */
  background-color: black;
  color: white;
/*   padding-left: 2%;
  padding-right: 2%; */

  &  a {
    display: flex;
    text-decoration: none;

    color: white;
    margin: 0px;
    padding: 0px;
  }
 

    & ul {
      @include smartphone-nav;
     display: flex;
 /*    border: 3px solid red; */
justify-content: center;
justify-items: center;
      flex-direction: row; 

      padding: 0px;

      & li {
        display: flex;
       flex-direction: row;
     justify-items: center;
  
     justify-content: center;
      width: 100%;
        flex-direction: row;
     & #username{

      
  
   }
   &.username :hover {
   
   color: #f0250b;

   }

   &.fil :hover {
    

    color: #f0250b;
  
  }
      &.creerprive :hover {
  
        
      
        color: #f0250b;
      }

      &.public :hover {
        
  
       
        color: #f0250b;
      }

      &.priv :hover {
  
  
       
        color: #f0250b;
      }

      }
    }

    
   & .usernameaccueil {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;

    }
 

& .apparitionbarrecontexte {

 


display: flex;
flex-direction: row;
justify-content: center;
width: 100%;

& button {
  margin : 2%;
  padding: 1%;
  display: flex;
border-radius: 30%;
  width: 100%;
  height: 80%;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #d1515a;
  font-size: 13px;
  font-weight: 500;
  border: solid white 2px;
&:hover {

  background-color: #e90d1b;
 /*  font-size: 13px; */
 
}

}

& ul {
  @include smartphone-nav;
  display: flex;
/*  border: 3px solid red; */
justify-content: center;
justify-items: center;
   flex-direction: row; 
   width: 100%;
   padding: 0px;
  
   & li {
     display: flex;
    flex-direction: row;
  justify-items: center;
color: #0d11e9;
  justify-content: center;
   width: 100%;
     flex-direction: row;
 
   }
 }


 & #username{

  -webkit-text-stroke: 0.5px rgb(163, 17, 221);
  font-size: 1.8rem;
  width: 100%;
  
   }

   & #username2{
   
    -webkit-text-stroke: 0.5px rgb(163, 17, 221);
    font-size: 1.8rem;
    width: 100%;

     }
  

& #postpublic {
  -webkit-text-stroke: 0.5px rgb(163, 17, 221);
color: #a9a2eb;

}

}



  }



}











//Fin barre de navigation 


  // GLOBAL





// PAGE LISTE DES POSTS POUR CHAQUES UTILISATEURS    /   PAGE PROFIL ET POSTPRIV


.listepostsparutilisateur {

/*   padding-left: 1%;
  padding-right: 1%; */
  width:100%;
  height: 100%;
  display: flex;
flex-wrap: wrap;
margin: 0px;
padding: 0px;
justify-content: center;
& .post3 {
  width: 19%;
  height: 100%;
justify-items: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 0.2%;
margin-top: 1%;
  border: 1px solid #d1515a;
  /* font-family: Arial, Helvetica, sans-serif; */

  box-shadow: rgba(15, 15, 12, 2) 0px 2px 8px 0px;
  border-radius: 15px;
  background-color: white;

  /* background-image: url(./logos/icon.svg); */
  @include smartphone-grid;
  @include ipad-grid;


   & .title {
    background-color: #122441;
    width: 100%;
    height: 70px;
    display: flex;
    place-content: center;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  margin: 0%;
    padding: 2%;
    box-shadow: rgba(13, 13, 14, 0.2) 0px 7px 29px 0px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

& .body {
  @include smartphone-grid-body;
  width: 100%;
   height: 30vw; 
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 60px;
  margin-left: 0%;
  margin-right: 0%;
  
  font-weight: 500;
  background-color: #a9a2eb;
  color: black;
  white-space: pre-line;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  align-content: center;

 
}

& .iframdiv {

  font-size: 2px;
  width: 100%;
    height: 20vw; 
padding: 0%;
height: 10%; 
align-items: center;
align-content: center;
text-align: center;
    & .lien {
      width: 100%;
    height: 10vw; 
padding: 0%;
   /*    height: 10vw; */
      align-items: center;
      align-content: center;
      border: #0a0a0a solid 7px;
  
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;


        }
        
}

&  .atarget{
  height: 22px; 
          align-items: center;
          align-content: center;
          font-size: 8px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #121314;
    
        }


  & .footer {
    /* border-top: 1px solid #d1515a; */
  
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
  justify-content: center;
    
  text-align: center;
    padding: 1%;
    align-items: center;
  
    background-color: #122441;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }


}
  
  }
   
  
  .grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-size: cover;
    background: no-repeat, url(../logos/lune.gif); 
  

  
 


    & .boutonpriv button {
      border-radius: 30%;
      background-color: red;
      & :hover {

        background-color: rgb(131, 8, 8);
      
      }
        }

      }
  
  

  


//FIN PAGE LISTE DES POSTS PAR UTILISATEURS  


// PAGE LISTE DES POSTS POUR CHAQUES UTILISATEURS    /   PAGE HOME 



.containerpost {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 15px;
  box-shadow: rgb(33, 11, 133) 0px 0px 100px;
  background-image: url(../logos/formes.gif);
  background-position: center bottom, left top;
  background-repeat: repeat;
  width: 100%;
  align-items: center;
& .post {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100%;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 1%;
  color: black;
  border: 1px solid #d1515a;
  font-family: Arial, Helvetica, sans-serif;
text-align: center;
  box-shadow: rgba(15, 15, 12, 2) 0px 2px 8px 0px;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 4%;
 /*   background-image: url(../logos/icon.svg); */
& .title {
  width: 100%;
  height: 50%;
  background-color: #122441;
  display: flex;
  flex-direction: row;
  place-content: center;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 2%;
  box-shadow: rgba(13, 13, 14, 0.2) 0px 7px 29px 0px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}


&  .body {
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  text-align: justify;

  margin-left: 0%;
  margin-right: 0%;
  
  font-weight: 500;
  background-color: #f7fdfd;
  color: black;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  align-content: center;
  

  & .iframdiv {

    font-size: 2px;
    width: 100%;
      height: 20vw; 
  padding: 0%;


  text-align: center;
      & .lien {
 
        width: 100%;
      height: 100%; 
  padding: 0%;
     /*    height: 10vw; */
       
        border: #0a0a0a solid 7px;
   
     /*    overflow: hidden;
        text-overflow: ellipsis; */
        text-align: center;
 


          }}

     
}

&  .atarget{
  display: flex;

  text-align: center;
          align-items: center;
          align-content: center;
          font-size: 18px;
        
          overflow: hidden;
          text-overflow: ellipsis;
          color: #121314;
    
        }
}


& .footer {
  /* border-top: 1px solid #d1515a; */

  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 1%;
  align-items: center;

  background-color: #122441;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  & .ThumbUpAltIcon{

display: flex;
flex-direction: row;

  }
}
& .like {

  opacity: 0.6;
  color: white;
 

}
& .delike {
color: white;
opacity: 1;

}

 & .white {
  color: white;

}
}


.post:hover {
  box-shadow: rgba(248, 248, 250, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.post3:hover {
  box-shadow: rgba(248, 248, 250, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

//FIN  PAGE LISTE DES POSTS POUR CHAQUES UTILISATEURS    /   PAGE HOME 



// LECTURE DU POST INDIVIDUEL

.indivi {
  display: flex;
 
  background-image: url(../logos/formes.gif);
  place-items: center;
  /* background-size: cover; */
  width: 100%;
  display: flex;
  width: 100%;

  flex-direction: column;
& button {

color: white;
  background-color:#d1515a;;
 
}


/* & button :hover {
  color: rgb(240, 16, 16);
  background-color:  #e90d1b;
  width: 100%;

} */
& 
.post2 {
  @include smartphone-ajustement_post_individuel_corps;
  display: flex;
  width: 60%;
  height: 100%;
  background: no-repeat, url(../logos/icon.svg);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  justify-items: center;
  margin: 1%;
  color: black;
  border: 1px solid #d1515a;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(15, 15, 12, 2) 0px 2px 8px 0px;
  border-radius: 15px;
  background-color: white;
  /* background-image: url(./logos/icon.svg); */

 
  & .title {
    background-color: #122441;
    display: flex;
    place-content: center;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    padding: 2%;
    box-shadow: rgba(13, 13, 14, 0.2) 0px 7px 29px 0px;
    font-size: 20px;
  }
  & .body {

    display: flex;
    flex-direction: column;
  
 /*  height: 19vw; */
    margin-left: 0%;
    margin-right: 0%;
   /*  margin-top: 2% */;
    font-weight: 500;
    background-color: #f7fdfd;
    color: black;
    white-space: pre-line;
  
  }
  & .footer {
    /* border-top: 1px solid #d1515a; */
  
    display: flex;
    flex-direction: column;
    width: 100%;
  
    padding: 1%;
    align-items: center;
    padding-left: 15px;
    background-color: #122441;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

 & .post2:hover {
  box-shadow: rgba(248, 248, 250, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}





& .addCommentContainer input,
& button {
  margin-top: 2%;
  width: 50%;
  height: 100%;
  border-radius: 8px;
  color: rgb(248, 240, 240);
  & :hover {
    background-color: #a9a2eb;
  }  
  
}
button {
background-color: #d1515a;
  width: 100%;

& :hover {

  background-color: #83050e;
  width: 110%;

}
}
& .addCommentContainer button {
  background-color: dodgerblue;
  color: white;
  width: 100%;
}

& .addCommentContainer input {
  border: 2px solid dodgerblue;
}

& .listOfComments {

  display: flex;
  flex-direction: column-reverse;

}

& .listOfComments .comment {
  width: 100%;
  height: 100%;
  padding: 30px;
  white-space: pre-line;
  border: 1px solid #d1515a;
  border-radius: 5px;
  margin-top: 20px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  gap: 15px;
  background-image: url(../logos/formes.gif);
  background-position: center bottom, left top;
  background-repeat: repeat;
  color: white;
}

& #individual {
  display: flex;
  height: 100%;
  width: 100%;
}


& #individual .footer {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

& #individual .body {
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
}





}












// FIN 















.coenr {
  font-size: 30px;
  margin-right: 2%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.coenr2 {
  width: 100%;
  font-size: 30px;
  margin-right: 16%;
  display: flex;
  align-items: center;
}








/* création de post css */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background: repeat, url(../logos/orig.gif);

}

.spanform {
  font-size: 18px;
}



// Formulaire qui sert à s'enregister

.forminscription {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 8%;
  background: repeat, url(../logos/orig.gif);
  border-radius: 20%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 2%;
  box-shadow: 1px 5px silver, -0.5em 0 0.4em black;
  font-size: 25px;
 font-weight: 700;

 
& .inscritpion {
 
  display: flex;
  flex-direction: row;
height: 100%;
width: 40%;


 border-radius: 20%;
 justify-content: center;
 justify-items: center;
 align-items: center;
 & form {
  width: 100%;
& span {


  font-weight: 700;
  font-size: 20px;
  background-color: #f7fdfd;
}
  display: flex;
  flex-direction: column;
}

  &.a {
    display: flex;
    flex-direction: column;
    
  }
  &.b {
    
    display: flex;
    flex-direction: column;
  }
  &.c {
    
    display: flex;
    flex-direction: column;
  }
  & button {
    @include smartphone-button;
    display: flex;
    
margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 20%;
    box-shadow:  -0.1em 0 0.1em black;
    background-color: #62b6ee;
    font-weight: 500;
    width: 100%;
    justify-content: center;


  }

 }

}
 




 
  
  








.createPostPage { 
width: 80%;
height: 100%;
border: #e90d1b solid 3px;
border-radius: 20%;


& .formContainer {

@include smartphone-ajustement_formulaire;


& .POSTPRIVE span {
color: #0d11e9;
font-weight: 800;
}

& .POSTPUBLIC span {

  color: #0de918;
  font-weight: 800;
}


font-weight: 700;
&.titre {


  background-color: rgb(248, 246, 242);
}

  &  button {
    margin-top: 20%;
    height: 15%;
    width: 100%;
    border-color: #d1515a solid 2px;
    background-color: #2069dd;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    justify-content: center;
    margin-top: 5%;
    & :hover {

      background-color: #153e80;
    }
  }
  
  & .formContainer button:hover {
    cursor: pointer;
    background-color: dodgerblue;
  }
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 40%;
  height: 0%;
  padding: 20px;
  border: 5px solid hsl(356, 58%, 57%);
  border-radius: 25px;
  background-color: white;
  font-size: 25px;
  margin-top: 10%;
  margin-bottom: 15%;
  background-size: cover;
 /*  background: no-repeat, url(../logos/icon.svg); */

  & span .black{
   
    background-color: white;
  }
  
}


}


span {
  color: rgb(243, 4, 4);
}
.date {

  color: rgb(197, 227, 247);

}

/*POST INDIVIDUEL  */



/* LOGIN */
.background {
  display: flex;

  justify-content: center;
  background: no-repeat, url(../logos/nuit.jpg);

  width: 100%;

  
}
.loginContainer {
  
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
  text-align: center;

  margin-top: 2%;
  border-radius: 80px;
 
  margin-bottom: 20%;
  background-size: 100%;
  background-size: cover;
  background: no-repeat, url(../logos/lune.gif);
  /*  background: no-repeat, url(./logos/orig.gif); */
  box-shadow: 1px 1px silver, -0.5em 0 0.4em black;
  color: white;
  font-size: 150%;
  img {
border-radius: 20%;
margin-top: 5%;
margin-bottom: 5%;
width: 30%;
height: 45%;


  }

  & input
   {
    display: flex;
    width: 40%;
 margin-bottom: 2%;
 margin-top: 2%;
    font-size: 15px;
  }


  
  
  
  
  & button {
    @include smartphone-button;
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
    color: white;
    width: 30%;
    border-radius: 8px;
    margin-bottom: 4%;
    margin-top: 2%;
  }
  
  &.loginContainer button:hover {
    background-color: rgb(89, 169, 248);
    color: white;
    width: 40%;
  
    font-weight: 600;
  }
  
  &.loginContainer input {
    border: 2px solid dodgerblue;
  }
  



}



